window {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-image: url(/home/awt/.config/wallpaper.png);
}

.tray {
  margin: 0;
  padding: 4px;
  border: none;
  border-radius: 0;
  background: transparent;
}

.tray:hover {
  background: #00000033;
}

.tray>* {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.tray-disabled {
  opacity: 0.5;
}