window {
  background: transparent;
  font-family: 'SauceCodePro Nerd Font', monospace;
  font-size: 10px;
  line-height: 1.5;
  color: #333;
  background-image: url(/home/awt/.config/wallpaper.png);
}

.tray {
  margin: 0;
  padding: 4px;
  border: none;
  border-radius: 0;
  background: transparent;
}

.tray:hover {
  background: #00000033;
}

.tray>* {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.tray-disabled {
  opacity: 0.5;
}

.user {
  padding-left: 10px;
  color: #0ff;
}

.at {
  color: #f0f;
}

.hostname {
  color: #0f0;
}

.date-time {
  margin-top: 2px;
  font: 700 9px 'SauceCodePro Nerd Font', monospace;
  padding-left: 10px;
  color: gray;
}