label {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}

window {
  font-family: 'SauceCodePro Nerd Font', monospace;
  font-size: 10px;
  line-height: 1;
  color: #333;
  background-image: url(/home/awt/.config/wallpaper.png);
}

.tray>button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: transparent;
}

.tray:hover {
  background: #00000033;
}

.tray-disabled {
  opacity: 0.5;
}

.window-name {
  padding-left: 10px;
  color: violet;
}

.user {
  padding-left: 10px;
  color: #0ff;
}

.at {
  color: #f0f;
}

.hostname {

  color: #0f0;
}

.date-time {
  padding-left: 10px;
  color: gray;
}

.tray-menu-item,
.tray-menu-item.background {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.tray-menu-item {
  color: #fff;
  padding: 5px 10px;
}

.tray-menu-item:hover {
  background: #00000033;
}

.disabled {
  opacity: 0.5;
}

.section {
  margin-top: 10px;
}

.section.first {
  margin-top: 0;
}